<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISharedKanclPlaylistWCFSvc" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.0.101:8081/SharedKanclPlaylistWCF/SharedKanclPlaylistWCFSvc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISharedKanclPlaylistWCFSvc"
        contract="SharedKanclPlaylistWCFClient.ISharedKanclPlaylistWCFSvc"
        name="BasicHttpBinding_ISharedKanclPlaylistWCFSvc" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="mexBehavior" name="SharedKanclPlaylistWCFSvc.SharedKanclPlaylistWCFSvc">
        <endpoint address="SharedKanclPlaylistWCFSvc" binding="basicHttpBinding" contract="SharedKanclPlaylistWCFSvc.ISharedKanclPlaylistWCFSvc"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.0.101:8081/SharedKanclPlaylistWCF"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
